bleach==3.1.1
bleach-whitelist==0.0.10
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
Django==2.2
django-baton==1.5.8
django-braces==1.14.0
django-cleanup==4.0.0
django-colorfield==0.2.1
django-crispy-forms==1.8.1
django-js-asset==1.2.2
django-markup==1.4.1
django-model-utils==4.0.0
django-widget-tweaks==1.4.6
docutils==0.16
google-api-python-client==1.7.11
google-auth==1.11.2
google-auth-httplib2==0.0.3
html5lib==1.0.1
httplib2==0.17.0
idna==2.9
Markdown==3.2.1
oauth2client==1.5.2
Pillow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.6.1
python-creole==1.4.6
pytz==2019.3
regex==2020.2.20
requests==2.23.0
rsa==4.0
six==1.14.0
smartypants==2.0.1
sqlparse==0.3.0
swapper==1.1.2.post1
textile==4.0.1
uritemplate==3.0.1
urllib3==1.26.5
webencodings==0.5.1
