{% extends "dash_base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
{{title}}
{% endblock title %}

{% block sidebar %}
{% include '../../partials/student/_sidebar.html' %}
{% endblock sidebar %}

{% block maincontent %}

    <div class="row">
        <div class="col-md-4">
            <h6 class="text-muted">List Group</h6>

            <ul class="list-group">
                {% for semester in previous_semester %}
                    <li class="list-group-item">
                        <a href="{% url 'course:student_previous_course' semester_id=semester.id %}" class="btn-link">{{semester.semester_full_name}}</a>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="col-md-8">
            {{last_previous_semester}}
            <table class="table table-hover table-inverse">
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Course Teachers</th>
                            <th>Check My Review</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for course  in last_semester_courses.courses.all %}
                        <tr>
                            <td>{{course.course_name}}</td>
                            {% if course.course_teacher.all.count > 0 %}
                            {% for course in course.course_teacher.all %}
                                <td>

                                        {% for teacher in course.teachers.all %}
                                        {{teacher}},
                                        {% endfor %}
                               </td>

                            {% endfor %}
                            {% else %}
                                <td>
                                    No Teacher Selected
                                </td>
                            {% endif %}
                            <td>
                                <a href="{% url 'course:view_student_course_review' course.id  %}" class="btn btn-sm btn-outline-primary">Review</a>
                            </td>
                            <td>
                                {% if  my_courses.active %}
                                   <i class="fa fa-check text-success"></i>
                                {% else %}
                                    <i class="fa fa-times text-danger"></i>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

        </div>
    </div>

{% endblock maincontent %}
