{% extends "dash_base.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block sidebar %}
    {% include '../../partials/student/_sidebar.html' %}
{% endblock sidebar %}

{% block maincontent %}

        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron">
                            <h1 class="display-3">Hello, {{user.get_full_name}}</h1>
                            <p class="lead">Welcome To Dashboard</p>
                        </div>
                    </div>
                    <div hidden id="student_courses_count_dict">
                        {{student_courses_count_dict}}
                    </div>
                     <canvas id="student-bar-chart" width="800" height="200"></canvas>
                    {% include 'partials/dashboard_partial.html' %}
                </div>
            </div>
        </div>

{% endblock maincontent %}
