{% extends "dash_base.html" %}


{% block title %}
{{title}}
{% endblock title %}

{% block sidebar %}
    {% include '../../partials/teacher/_sidebar.html' %}
{% endblock sidebar %}


{% block maincontent %}
    <div class="container m-2 p-2">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h3 class="text-center">Students List</h3>
                <p class="text-center lead">
                    Evaluate Students on {{course_obj.course_name}} <br>
                    Semester <strong>{{semester_obj.semester_full_name}}</strong>
                </p>
                <hr>

                    <table class="table table-hover table-inverse">
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Evaluate Student</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in all_students.all %}
                            <tr>
                                <td>{{student.student.student.get_full_name}}</td>
                                <td>
                                    <a class="btn btn-sm btn-outline-info" href="{% url 'course:evaluate_student' student_id=student.student.student.id course_id=course_obj.id semester_id=semester_obj.id  %}">Evaluate</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

            </div>
        </div>
    </div>
{% endblock maincontent %}
