{% extends "dash_base.html" %}


{% load crispy_forms_tags %}

{% block title %}
    {{title}}
{% endblock title %}

{% block sidebar %}
    {% include '../../partials/teacher/_sidebar.html' %}
{% endblock sidebar %}


{% block maincontent %}

        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="row">
                    {% include 'partials/dashboard_partial.html' %}
                </div>
            </div>
        </div>

{% endblock maincontent %}
