{% extends "dash_base.html" %}
{% load humanize %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block sidebar %}
{% if user.user_profile.user_type == '0'  %}
{% include 'partials/teacher/_sidebar.html' %}
{% elif user.user_profile.user_type == '1' %}
{% include 'partials/student/_sidebar.html' %}
{% endif %}
{% endblock sidebar %}

{% block style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock style %}

{% block maincontent %}
  <div class="row">
    <div class="col-md-12">
      <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'partials/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'boards:topic_posts' post.topic.board.pk post.topic.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
    </div>
  </div>
{% endblock maincontent %}

{% block javascript %}
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}
