{% load static %}
<nav id="sidebar">
    <div class="sidebar-header text-center">
        <h6>Welcome {{user.get_full_name}}</h6>
        <img src="{{user.user_profile.profile_pic.url}}" alt="" width="60px" class="rounded-circle text-center">
    </div>

    <ul class="list-unstyled components">
        <li>
           <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-list"></i>
                Course
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="{% url 'course:student_course_select' %}">
                        Select Course
                    </a>
                </li>
                <li>
                    <a href="{% url 'course:student_previous_course' %}">Previous Course</a>
                </li>

            </ul>
        </li>
    <li>
        <a href="#">
            <i class="fa fa-image"></i>
            Portfolio
        </a>
    </li>


</ul>

<ul class="list-unstyled CTAs">

</ul>
</nav>
