{% extends 'landing_base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="register-body" style="height:100vh">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8 mx-auto login-box">
                <h3>Forgot password</h3>
                <form method="post" novalidate>
                    {% csrf_token %}

                    {{ form.email|as_crispy_field }}




                    <div class="loginbttm">
                        <div class="login-btm login-button">
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
