{% load static %}
<nav id="sidebar">
            <div class="sidebar-header text-center">
                <h6>Welcome {{user.get_full_name}}</h6>
                <img src="{{user.user_profile.profile_pic.url}}" alt="" width="60px" class="rounded-circle text-center">
            </div>

            <ul class="list-unstyled components">
                 <li>
                    <a href="{% url 'accounts:dashboard' %}">
                        <i class="fa fa-user-circle"></i>
                        Dashboard
                    </a>
                </li>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-list"></i>
                        Options
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{% url 'course:teacher_courses' %}">My Courses</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="{% url 'boards:home' %}">
                        <i class="fa fa-share-square"></i>
                        Forum
                    </a>
                </li>

                <li>
                    <a href="{% url 'quizes:quize_board' %}">
                        <i class="fa fa-question-circle"></i>
                        Quizes
                    </a>
                </li>

            </ul>

            <ul class="list-unstyled CTAs">

            </ul>
        </nav>
